/* src/App.css */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .main-content {
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
  }
  
  .home {
    font-size: 2rem;
    text-align: center;
    color: #444;
  }
  
  h1 {
    color: #333;
  }
  
  /* Styling for body */
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  